@mixin mobile{
    @media screen and (max-width:480px){
        @content
    }
}
@mixin tablet{
    @media screen and (max-width:768px){
        @content
    }
}
@mixin laptop{
    @media screen and (max-width:1200px){
        @content
    }
}
.form-container{
    background-color: #AAC8A7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-wrapper{
        background-color: #C3EDC0;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        .logo{
            color: #4C4B16;
            font-weight: bold;
            font-size: 24px;
        }
        .title{
            color:#4C4B16;
            font-size: 12px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            input{
                background-color: #C3EDC0;
                padding: 15px;
                border: none;
                border-bottom: 1px solid #2D4356;
                &::placeholder{
                    color: #A4907C;
                }
            }
            button{
                background-color: #9DC08B;
                color: white;
                font-weight: bold;
                padding: 10px;
                border: none;
                cursor: pointer;
            }
            button:hover{
                background-color: #539165;
            }
            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color: #94AF9F;
                font-size: 12px;
                cursor: pointer;
                img{
                    width: 32px;
                }
            }
        }
        p{
            color: #609966;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}
.home{
    background-color: #FFD1DA;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow:  hidden;
        @include tablet(){
            width: 90%;
        }
        .sidebar{
            flex: 1;
            background-color: #FBA1B7;
            position: relative;
            .navbar{
                display: flex;
                align-content: center;
                background-color: #CD6688;
                height: 30px;
                padding: 10px;
                justify-content: space-between;
                color: #FFF0F5;
                .logo-ava{
                    font-weight: bold;
                    @include tablet(){
                        display: none;
                    }
                }
                .user{
                    display: flex;
                    gap: 10px;
                    margin-top: 1px;
                    img{
                        background-color: #9DC08B ;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    button{
                        background-color: #FFCACC;
                        color: white;
                        font-size: 10px;
                        border: none;
                        cursor: pointer;
                        height: 15px;
                        margin-top: 2px;
                        @include tablet(){
                            position: absolute;
                            bottom: 10px;
                        }
                    }
                }
            }
            .search{
                border-bottom: 1px solid gray;
                .search-form{
                    padding: 10px;
                    input{
                        background-color: transparent;
                        border: none;
                        color: grey;
                        outline: none;
                        &::placeholder{
                            color: #FFF0F5;
                        }
                    }
                }
            }
            .userchat{
                padding: 10px;
                display: flex;
                align-content: center;
                gap: 10px;
                color: #FFF0F5;
                cursor: pointer;
                &:hover{
                    background-color: #CD6688;
                }
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .userchatinfo{

                    span{
                        font-size: 18px;
                        font-weight: 500;
                        margin-top: 10px;
                    }
                    p{
                        font-size: 14px;
                        color: lightgray;
                    }
                }
            }
        }
        .chat{
            flex: 2;
            .chatinfo{
                height: 50px;
                background-color: #FBA1B7;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #000000;
                span{padding-left: 10px;font-size: 20px;}
            }
            .chaticons{
                display: flex;
                gap: 10px;
                img{
                    height: 24px;
                    cursor: pointer;
                }
            }
            .messages{
                background-color: #FFD1DA;
                padding: 10px;
                height: calc(100% - 130px);
                overflow: scroll;
                .message{
                    display: flex;
                    gap: 10px;
                    margin-bottom: 20px;
                    .messageinfo{
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: 300;
                        img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                        }
                    }
                    .messagecontent{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        p{
                            background-color: white;
                            padding: 10px 20px;
                            border-radius: 0px 10px 10px 10px;
                            font-weight: 100;
                            max-width: max-content;
                        }
                        img{
                            width: 50%;
                        }
                    }
                    &.owner{
                        flex-direction: row-reverse;
                        .messagecontent{
                            align-items: flex-end;
                        p{
                            background-color: #CD6688;
                            color: white;
                            border-radius: 10px 0px 10px 10px;
                        }
                    }
                    }
                }
                }
            }
            .input{
                height: 40px;
                background-color: white;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    color: #3D3C42;
                    font-size: 18px;
                    &::placeholder{
                        color: lightgray;
                    }
                }
                .send{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    img{
                        height: 24px;
                        cursor: pointer;
                    }
                    button{
                        border: none;
                    }
                }
            }
        }
    }
